@{
    ViewData["Title"] = "Главная";
}


<style>
    .back{
    object-fit:cover;
    border-radius: 20px;
    max-height: 50dvh; 
    }
    
</style>

<div class="row text-center">
    <div class="col-4">
        <img src="/img/images/guns1.jpg" class="back img-fluid shadow-sm" alt="abstract1"/>
    </div>

    <div class="col-4">
        <img src="/img/images/hunt1.jpg" class="back img-fluid shadow-sm" alt="abstract1"/>
    </div>
    <div class="col-4">
        <img src="/img/images/hunt2.jpg" class="back img-fluid shadow-sm" alt="abstract1"/>
    </div>

</div>

<div class="text-center ">
    <div class="text-shadow">
        <h1 class="display-2 mb-2">Запал</h1>
        <p class="lead mb-3">
            Это современный интернет-магазин, специализирующийся
            на продаже самых лучших ружей для охоты и спортивных дисциплин.
            Мы предлагаем широкий ассортимент от лучших мировых брендов.
            Наш магазин гарантирует высокое качество продукции,
            быструю доставку и превосходное обслуживание клиентов.
        </p>
    </div>
</div>

<div class=""></div>