@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Manage.Internal
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectFuse.Areas.Identity.Data
@inject SignInManager<ProjectOneUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профиль</a></li>
  
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Персональные данные</a></li>
</ul>
