@model IEnumerable<ProjectFuse.Areas.Identity.Data.ProjectOneUser>
@{
    ViewBag.Title = "User list";
}
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Уровень доступа</a>
            </td>
            <td>
                <form method="post" asp-action="Delete">
                    <input type="hidden" name="id" value="@user.Id">
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>