<!DOCTYPE html>

<body>

<div class="container mt-4">
  <div class="row">
    <!-- Контентная область -->
    <div class="col-md-8">
      <h1>Заголовок форума</h1>
      <!-- Здесь будет контент форума -->
    </div>
    
    <!-- Боковая панель -->
    <div class="col-md-4">
      <div class="p-3 mb-3 bg-light rounded">
        <h4>Связанный контент</h4>
        <!-- Здесь будет связанный контент -->
      </div>
      <div class="p-3 bg-light rounded">
        <h4>Новости</h4>
        <!-- Здесь будут новости -->
      </div>
    </div>
  </div>
</div>

</body>